
CompileFlags:
  Add:
    - -I/home/boopy/dev/Projects/ws_server/src/include
    - -I/home/boopy/dev/Projects/ws_server/src/include/extern
    - -std=c++26
  CompilationDatabase: build/
Diagnostics:
  UnusedIncludes: Strict

Index:
  Background: Build
